[Unit]
Description=Firewalla Alarm Monitor
After=network.target

[Service]
ExecStart=/home/pi/hdc-alarm-monitor/venv/bin/python /home/pi/hdc-alarm-monitor/main.py
WorkingDirectory=/home/pi/hdc-alarm-monitor
User=pi
Group=pi
Restart=always

[Install]
WantedBy=multi-user.target